.socials{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.social-icon{
    padding: 1% 0% 0%;
    visibility: hidden;
}
.login-signin{
    color: black;
    margin-top: 15px;
}
@media (min-width : 700px){
    .social-icon{
        visibility: visible;
    }
}