header {
    padding: 0%;
}

main {
    background-color: purple;
}

.search-container {
    display: flex;
    width: fit-content;
    background-color: white;
    margin: auto;
    height: 100px;
}
.socials {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.social-icon {
    padding: 1% 0% 0%;
    visibility: hidden;
}

.login-signin {
    color: black;
    margin-top: 15px;
}

@media (min-width : 700px) {
    .social-icon {
        visibility: visible;
    }

    main {
        height: fit-content;
    }
}