body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

hr {
  background-color: #8f8f8f;
}

/* Headings */

.big-heading {
  margin-top: 50px;
  font-family: "Montserrat-Black";
  font-size: 2em;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 3% 8% 0%;
}

/* Sections */

.colored-section {
  background-color: #83a9c4;
  color: #fff;
}

.white-section {
  background-color: rgb(162, 162, 162);
  color: black;
}

/* Navigation Bar */
#header {
  background-color: #85929b;
}

.socials {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.social-icon {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-icons {
  visibility: hidden;
  position: absolute;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title {
  background-color: #85929b;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 0%;
}

.social-icon:hover,
.nav-item img:hover {
  transform: rotate(25deg);
}

.search-box {
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 2px;
  display: flex;
}

.search-input::placeholder {
  color: white;
}

.search-input {
  width: 100%;
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

.search-img {
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent;
  cursor: pointer;
}

/* Title Image */

.title-image {
  position: static;
  transform: rotate(0);
  width: 50%;
  height: 250px;
  background-color: transparent;
}


/* new-books Section */

.new-books {
  background-color: #f8f6f6;
  z-index: 1;
  position: relative;
  height: fit-content;
}

.products-gird {
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  padding: 15%;
  display: grid;
  gap: 20px;
  font-size: 1.5em;
}

.new-books-text {
  position: relative;
  top: 50px;
  color: #364048;
}

.carousal-btn {
  width: 20px;
}

.card-body {
  height: 50%;
}

.product-img {
  height: 50%;
}

.product-card {
  align-items: center;
  background-color: #d0dae1;
}

.product-card:hover {
  box-shadow: 0 4px 8px 0 #85929b;
  transition: 0.5s;
}

.card-body a {
  color: #364048;
}

.card-body a:hover {
  color: blue;
}

.add-toCart-btn {
  position: relative;
  bottom: 5px;
  width: fit-content;
  font-size: 0.8em;
  background-color: #85929b;
  color: white;
}

.add-toCart-btn:hover {
  background-color: blue;
}

/* Best Seller */
.best-seller-text {
  color: whitesmoke;
  position: relative;
  top: 50px;
}


/* Footer Section */
.footer p {
  color: whitesmoke;
}



@media (min-width: 1028px) {
  .products-gird {
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10%;
    display: grid;
    justify-content: space-between;
    font-size: 1em;
  }

  .add-toCart-btn {
    font-size: 0.7em;
    width: fit-content;
  }

  .nav-text {
    position: absolute;
    visibility: hidden;
  }

  .carousal-btn {
    width: 40px;
  }

  .social-icon {
    visibility: visible;
  }

  .nav-icons {
    visibility: visible;
  }

  #title {
    height: 490px;
  }

  .title-image {
    width: 70%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    height: 400px;
    visibility: hidden;
  }

  .big-heading {
    font-size: 3.5em;
  }
}

/*                                           Login & Signup page                                                                       */
.login {
  height: fit-content;
  background-color: whitesmoke;
}


.form-floating {
  text-align: left;
}

.form-signin {
  border: #8f8f8f solid;
  padding: 5%;
  border-radius: 5%;
}

.create-account-text {
  color: #8f8f8f;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
}

.create-account-text:before,
.create-account-text:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.create-account-text:before {
  margin-right: 10px
}

.create-account-text:after {
  margin-left: 10px;
}

.signup-btn {
  color: white !important;
  font-size: 0.8em;
}

.login-image {
  visibility: hidden;
}

.first-last-name {
  gap: 10px;
  display: grid;
  grid-template-rows: auto auto;
}

.first-name,
.last-name {
  width: 70%;
}

@media (min-width : 1028px) {
  .title-image {
    visibility: visible;
  }

  .first-last-name {
    grid-template-columns: auto auto;
  }

  .signup-btn {
    font-size: 1.2em;
  }

  .login-image {
    visibility: visible;
  }

  .login {
    display: flex;
    height: fit-content;
  }
}

/*                                                      Product Page                                              */
.productPage-grid {
  display: grid;
  grid-template-columns: auto;
}

.product-info {
  text-align: left;
}

.add-toWishlist-btn-productPage {
  color: white;
  background-color: #de2454;
  border-radius: 9999px;
  padding: 2%;
}

.add-toWishlist-btn-productPage:hover {
  background-color: #da476c;
}

.add-toCart-btn-productPage {
  border-radius: 9999px;
  padding: 2%;
}

@media (min-width : 1000px) {
  .productPage-grid {
    grid-template-columns: auto auto;
  }
}

/*                                               Cart Page                                                           */
.cart-products-img {
  width: 200px;
}

.cart-products-info {
  margin-left: 0px;
  text-align: left;
  margin-bottom: 30px;
}

.quantity {
  text-align: center;
  padding: 1rem;
  width: 26%;
  border-radius: 9999px;
  height: 20px;
}

.plus-btn,
.minus-btn {
  height: fit-content;
}

.plus-btn:hover {
  border-color: blue;
}

.minus-btn:hover {
  border-color: red;
}

.quantity-section {
  margin-top: 50px;
}

.cart-btns {
  margin-top: 50px;
}

.cart-btns button {
  width: fit-content;
  font-size: small;
}

.remove-btn {
  margin-right: 10px;
}

.cart-product-card {
  display: flex;
  border: solid #99a4ae 1px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-description {
  display: none;
}

.invoice {
  height: fit-content;
  border: #8f8f8f 1px solid;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
  padding: 5%;
}

.invoice p,
h5 {
  font-size: small;
}

.note {
  font-size: smaller !important;
}

.cart-price {
  margin-top: 10px;
}

@media (min-width: 1000px) {
  .cart-product-card {
    flex-wrap: nowrap;
  }

  .cart-price {
    margin-top: 0px;
  }

  .cart-products-info {
    margin-left: 25px;
    margin-bottom: 0;
  }

  .cart-btns {
    margin-top: 100px;
    margin-right: 10px;
  }

  .quantity-section {
    margin-top: 60px;
  }

  .cart-description {
    display: inherit;
  }

  .invoice p,
  h5 {
    font-size: inherit;
  }
}

/*                                                          Categories Page                                                          */
.categories-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: #85929b solid 0.5px;
  width: fit-content;
  padding: 2%;
  height: fit-content;
}

.categories-checkbox div {
  display: flex;
  align-items: baseline;
  margin-top: 5px;
}

.categories-checkbox label {
  margin-left: 5px;
}

.category .products-gird {
  padding: 1%;
  padding-top: 0;
}

.category {
  border-left: #85929b solid 0.5px;
}

.categories hr {
  margin: 0;
}

input[type=checkbox] {
  transform: scale(2);
  margin-right: 5px;
}

@media (min-width: 1028px) {
  input[type=checkbox] {
    transform: inherit;
    margin-right: 0;
  }
}

/*                                        Accoutn Page                                                                  */
.securityAndlogin,
.addressInfo {
  width: 50%;
  height: fit-content;
}
.accountPage{
  gap: 50px;
}
.accountPage .card-title {
  font-size: large;
}
.accountPage p{
  font-size: small;
}
.changeAccountInfo{
  align-items: baseline;
  justify-content: space-between;
}
.changebtn{
  width: fit-content;
  font-size: 0.6em;
  height: fit-content;
}
.hidden label,select{
  font-size: 0.7em;
}
.hidden input,select{
  height: 25px;
}

@media (min-width: 1028px) {
  .accountPage p {
    font-size: large;
  }
  .accountPage .card-title {
    gap: 1%;
    font-size: larger;
  }
  .changebtn{
    font-size: 1em;
  }
  .hidden input{
    width: 50%;
  }
}
